.row {
  display: flex;
  flex-wrap: wrap;
}

.column-half {
  width: 50%;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

@media screen and (min-width: 765px) {
  .muscle-group-label {
    position: relative;
    left: 6em;
  }

  .list {
    text-align: center;
  }

  .muscle-group-select {
    position: relative;
    top: 45px;
    right: 11.5em;
  }
}

@media screen and (min-width: 1300px) {
  form {
    width: 900px;
    position: relative;
    left: 16.5em;
  }
}
