.row {
  display: flex;
  flex-wrap: wrap;
}

.column-half {
  width: 50%;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

@media screen and (min-width: 768px) {
  form {
    width: 900px;
    position: relative;
    left: 17em;
  }

  .muscle-group-label {
    position: relative;
    left: 6.3em;
  }

  .list {
    text-align: center;
  }

  .workoutname-column,
  .rep-column {
    text-align: left;
    position: relative;
    left: 4.5em;
  }

  .set-column {
    text-align: left;
    position: relative;
    left: 8.5em;
  }

  .muscle-group-select {
    position: relative;
    top: 45px;
    right: 10.5em;
  }
}
