body {
  font-family: Lora, serif;
}

h1 {
  font-family: "Prosto One", cursive;
}

header {
  background-color: #ef233c;
  color: white;
  font-size: 22pt;
  text-align: center;
}

.fa-arrow-trend-up {
  margin-left: 10px;
}

.background {
  background-image: url("images/bgimage.jpg");
  height: 100vh;
  background-size: cover;
}

.workout-but {
  position: absolute;
  top: 60%;
  left: 50%;
  background-color: #d90429;
  color: white;
  transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.workout-but:hover {
  color: white;
}

.form-header {
  background-color: #8d99ae;
  font-family: Lora, serif;
  font-size: 20pt;
  line-height: 50px;
  color: white;
  text-align: center;
}

form {
  text-align: center;
}

label {
  line-height: 50px;
  vertical-align: top;
}

select {
  width: 200px;
  height: 40px;
  border-radius: 6px;
  border-color: lightgray;
  color: #6f7980;
}

.notes-control {
  width: 300px;
  height: 100px;
}

.form-submit-but {
  margin-block-start: 25px;
  border-radius: 4px;
  border: none;
  background-color: #fdd826;
  color: #2b2d42;
  width: 150px;
  height: 40px;
}

.bar {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 10px;
  color: white;
  left: 20px;
}

.hidden {
  visibility: hidden;
}

.overlay {
  background-color: rgb(0 0 0 / 30%);
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.menu {
  position: relative;
  width: 20%;
  min-height: 100vh;
  background-color: #8d99ae;
  color: white;
}

.list {
  margin-left: -30px;
  font-size: 18px;
  padding-top: 40px;
  line-height: 50px;
}

.menu-but,
.menu-but:hover {
  color: white;
  text-decoration: none;
}

.month-menu {
  margin: 3%;
}

.no-workout {
  height: 1000px;
  width: 500px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: -50px;
}

.workout-dates {
  float: left;
  width: 200px;
  height: 120px;
  list-style-type: none;
  border: 15px solid #2b2d42;
  padding-left: 2px;
  margin-left: 10px;
  margin-top: 10px;
}

.workout-ideas {
  width: 100%;
  height: auto;
  list-style-type: none;
  box-shadow: 0 24px 3px -23px #6f7980;
  margin-top: 20px;
  text-align: left;
  padding-bottom: 10px;
}

.idea-ul {
  padding-left: 30px;
  padding-right: 30px;
}

.not-used-star {
  color: lightgrey;
  float: right;
}

.used-star {
  color: #fdd826;
  float: right;
}

.instructions-ideas {
  font-size: 9pt;
  padding-left: 10%;
  padding-right: 10%;
}

.name-ideas {
  font-size: 20pt;
  color: #fdd826;
}

.muscle-name-ideas,
.equipment-ideas {
  font-size: 15pt;
}

.slash-dates {
  position: relative;
  left: 15%;
  top: 25%;
  text-decoration: none;
  color: black;
  font-size: 18pt;
  border: none;
  background-color: white;
}

.generate {
  background-color: #fdd826;
  color: black;
  border: none;
  border-radius: 4px;
  width: 140px;
  height: 40px;
  margin-top: 50px;
}

.workout-dates:hover,
.workout-dates:focus,
.generate:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.details-menu {
  padding-top: 20px;
  height: 400px;
  width: 400px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 25%;
  background-color: white;
  border: 2px black solid;
  border-radius: 4px;
  color: #2b2d42;
}

.details-date,
.details-name,
.details-group {
  text-align: center;
  line-height: 2em;
}

.details-date {
  background-color: #2b2d42;
  margin-top: -20px;
  color: white;
  letter-spacing: 3px;
}

.details-numbers {
  margin-top: 15px;
  display: flex;
}

.details-sets {
  padding-left: 3em;
  font-size: 13pt;
}

.details-reps {
  padding-left: 4em;
  font-size: 13pt;
}

.fa-person-running {
  position: absolute;
  top: 15px;
  right: 10px;
  color: white;
  font-size: 20pt;
}

.fa-pen-to-square {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 20pt;
  color: #2b2d42;
}

.fa-trash-can {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 20pt;
  color: #2b2d42;
}

.fa-person-running:hover,
.fa-pen-to-square:hover,
.fa-trash-can:hover {
  cursor: pointer;
}

.details-notes,
.real-notes {
  margin-top: 5px;
  font-size: 13pt;
  text-align: center;
}

.muscle-ideas {
  display: flex;
  justify-content: center;
}
